div{
	color: white;
	text-align: center;
	margin: 10px;
}


.conteudo{
	background: blue;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	text-align: center;
	float: right;
}

.conteudo-float{
	background: red;
	border: 1px solid gray;
	width: 100px;
	height: 100px;
	float: left;
}


.no-float{
	clear: both;
}

#principal{
	background: orange;
	border: red 5px solid;
	margin: 10px;
}